.clock-container {
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
}

.clock-time {
  font-size: 3rem;
  font-weight: bold;
  color: #5B84B1FF;
  margin-bottom: 8px;
}

.clock-date {
  font-size: 1.5rem;
  color: #333;
}

.clock-timezone {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 1em;
  color: gray;
}