.weather-widget {
    background-color: #fff;
    text-align: center;
  }
  
  .weather-info {
    display: flex;
    align-items: center;
  }
  
  .weather-info img {
    margin-right: 10px;
    width: 120px; /* Adjust as needed */
    height: 120px; /* Adjust as needed */
  }

  .weather-widget .weather-info p {
    font-size: 35px; 
    font-weight: bold;
  }