.bitcoin-price-value {
  color: #27ae60;
  font-size: 35px;
  font-weight: bold;
}

.bitcoin-price-footer {
  font-size: 14px;
  color: #666;
}

.bitcoin-price-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bitcoin-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.bitcoin-price-card,
.bitcoin-price-card * {
  padding: 0;
  margin: 0;
}