.birthday-widget {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.birthday-widget h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
}

.birthday-widget div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.birthday-widget input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.birthday-widget input[name="month"],
.birthday-widget input[name="day"] {
  width: 50px;
}

.birthday-widget button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.birthday-widget button:hover {
  background-color: #0056b3;
}

.birthday-widget div.birthday-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.birthday-widget div.birthday {
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.birthday-widget div.birthday:nth-child(even) {
  background-color: #f9f9f9;
}

.birthday-widget div.birthday span {
  font-size: 18px;
  font-weight: bold;
}

.birthday-widget div.birthday span.date {
  color: #007BFF;
  font-weight: normal;
}

.delete-icon {
  cursor: pointer;
  color: black; /* Default color */
}

.delete-icon:hover {
  color: red; /* Color on hover */
}