/* NFLScoresContent.css */
.nfl-scores-content {
    width: 100%; /* Full width for the fluid layout */
    padding: 10px; /* Padding around the grid */
    box-sizing: border-box; /* Padding included in the width */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    margin-bottom: 20px; /* Space at the bottom of the component */
  }
  
  .games-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two columns with minimum size 0 */
    gap: 15px; /* Space between games */
    min-height: 500px; /* Adjust this value based on your layout */
    /* This height should allow for at least 6 games (3 rows) */
  }
  
  .game {
    border-radius: 8px; /* Rounded corners for the game cards */
    background: #fff; /* White background for each game card */
    overflow: hidden; /* Prevents content from spilling out */
    display: flex;
    flex-direction: column; /* Stack children vertically */
  }
  
  .game-status {
    padding: 10px; /* Padding for status */
    background: #f2f2f2; /* Different background for status */
    font-weight: bold;
    text-align: center;
  }
  
  .team {
    display: flex;
    align-items: center;
    padding: 10px; /* Padding for team info */
  }
  
  .team-logo {
    width: 30px; /* Slightly larger logo size */
    height: 30px; /* Maintain aspect ratio */
    border-radius: 40%; /* Rounded logo */
    margin-right: 10px; /* Space between logo and team name */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    background-color: #f7f7f7; /* Background color in case of transparency in logos */
  }
  
  @media (max-width: 768px) {
    .games-grid {
      grid-template-columns: 1fr; /* Single column on smaller screens */
      min-height: 1000px; /* Adjust this value based on your layout */
      /* This height should allow for 6 games (6 rows) */
    }
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination button {
    padding: 8px 16px;
    margin: 0 4px;
    border: none;
    border-radius: 4px;
    background-color: #efefef;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }
  
  .pagination button.active {
    background-color: #ccc; /* Active page button background */
    font-weight: bold; /* Make active page number bold */
  }
  