.nfl-scores-content {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
  min-height: 500px;
}

.game {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.game-status {
  padding: 10px;
  background: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

.team {
  display: flex;
  align-items: center;
  padding: 10px;
}

.team-logo {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  margin-right: 10px;
  object-fit: cover;
  background-color: #f7f7f7;
}

@media (max-width: 768px) {
  .games-grid {
      grid-template-columns: 1fr;
      min-height: 1000px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 4px;
  border: none;
  border-radius: 4px;
  background-color: #efefef;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #ccc;
  font-weight: bold;
}