
  
  .bitcoin-price-value {
    color: #27ae60; /* Vibrant green color for the Bitcoin price */
    font-size: 35px; /* Larger font size for the price */
    font-weight: bold; /* Bold font weight for the price */
    margin-bottom: 20px; /* Space below the price */
  }
  
  .bitcoin-price-footer {
    font-size: 14px; /* Smaller font size for any footer text */
    color: #666; /* Lighter grey for less important information */
  }