.draggable-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 16px; /* Increased from 8px to 16px */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font: 1.5em "Open Sans", sans-serif;
  font-weight: bold;
  color: rgb(18, 168, 168);
  padding-bottom: 10px;
}

.menu-container {
  position: relative;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}

.menu-items {
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
