.office-quotes-widget {
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    width: 500px;
  }
  
  .office-quotes-widget .character-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
  }
  
  .office-quotes-widget .quote {
    font-style: italic;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
  
  .office-quotes-widget .character {
    font-weight: bold;
  }