.nasa-apod-widget {
  width: 100%; /* changed this line */
  height: 100%; /* changed this line */
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nasa-apod-widget .apod-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nasa-apod-widget:hover .apod-title {
  opacity: 1;
}

.apod-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}