.f1-standings-widget {
  font-family: Arial, sans-serif;
}

.f1-standings-widget .standings-type {
  cursor: pointer;
  margin-right: 10px;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.f1-standings-widget .standings-type:hover {
  color: #007BFF;
}

.f1-standings-widget ol {
  list-style: none;
  padding: 0;
}

.f1-standings-widget .driver-name {
  padding: 5px;
  padding-right: 40px;
}

.f1-standings-widget li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none;
  font-size: 1.1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.f1-standings-widget li:hover {
  background-color: #e9ecef;
}

.f1-standings-widget .pagination button {
  border: none;
  color: #007BFF;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #f8f9fa;
}

.f1-standings-widget .pagination button:hover {
  background-color: #e9ecef;
}